
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.page1{
    height: 100vh;
    width: 100%;
}

.nav{
    height: 60px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-right: 8vw;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
}

h4{
    text-transform: uppercase;
    font-weight: 300;
}

h4:hover{
    color: red;
}

.headings h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 7vw;
   margin-top: 12vh;
   margin-left: 12vw;
}

.headings h2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size: 6vw;
    margin-left: 28vw;   
}
span{
    color: rgb(194, 44, 44);
}

.vdeo1{
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

.section{
    width: 100vw;
    height: 80vh;
    background-color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section p{
    color: rgb(99, 99, 99);
    font-size: 2vw;
    position: relative;
    left: 40%;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;


}

.section img{
    height: 200%;
    object-fit: cover;
    
}
.page2
{
    width: 100%;
    height: 120vh;
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
/* background-color: #74EBD5; */
/* background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
}

.card{
    color: white;
    background-color: blueviolet;
    height: 10vh;
    font-size: 2vw;
    border-bottom: 2px solid white;
    padding: 2% 9%;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.left video{
    width: 100%;
    height: 60vh;
    padding: 4vw;
    position: relative;
    bottom: 4vw;
}

.crds img{
    width: 100%;
    height: 35vh;
}

.items{
    display: flex;
    position: relative;
    top: 2vw;
    left: 6vw;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    right: 2vw;
    position: relative;
}

.items img{
    box-shadow: 10px 10px 25px black;
}

.lay1{

    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 40vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    position: relative;
    right: 2vw;


}

.layers{
    display: flex;
    gap: 3vw;
}

button{
    width: 10vw;
    height: 6vh;
    color: black;
    background-color: lightgrey;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    position: relative;
    top: 1vw;
    
}


i{

    font-size: 3vw;
    position: relative;
    top: -0.5em;
    left: 1vw;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    
}

.headings img{
    display: none;
}

@media (max-width: 600px) {
    
    .section img{
       height: 54%; 
  }

  .section p{
    position: relative;
    padding-right: 20vw;

    font-size: 5vw;

  }

  .card{
    font-size: 8vw;
    position: relative;
    padding-left: 16vw;
  }

  .right{
    display: flex;
    display: none;
  }

  .left h1{
    display: none;
  }

  .left .layers{
    padding: 73px 0%;
    width: 200%;
  }

  .left .lay1{
    width: 85vw;

  }

  .lay1 i{
    font-size: 3vw;
    font-size: 5vw;
        padding: 2vw;
  }

  nav{
    display: none;
  }

  .section img{
    display: none;
  }

  .section p{
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
  position: relative;
  }

  .section{
    width: 100%;
    padding: 2vw 2vw;
  }

  .layers i{
 display: none;
  }
 .layers .lay1{
    background-color:transparent;
    height: 7vh;
 }

 .layers{
    display: flex;
    flex-direction: column;
 }

 .headings img{
    display: block;
    width: 200%;
    height: 200%;
    margin: 10vw -48%;
}
}